body {
    margin: 0;
}

#app {
    display: grid;
    grid-template-rows: 50px 1fr;
}

#nav {
    background-color: #00C0FF;
    display: grid;
}

#main {
    display: grid;
    grid-template-columns: 30vw 70vw;
}

#editor {
    width: 70vw;
    height: calc(100vh - 50px);
}

#docTitle {
    display: inline-flex;
    width: 30vw;
    height: 21px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
}

#previewFrame {
    width: 30vw;
    height: calc(100vh - 50px - 21px);
    border: none;
}

#preview {
    background-color: lightgrey;
}