:root {
    --mdui-color-primary: 135, 206, 235;
    --mdui-color-primary-container: 135, 206, 235;
    --mdui-color-on-primary: 79, 204, 255, 0.5;
    --mdui-color-on-primary-container: 79, 204, 255;
    --mdui-color-inverse-primary: 79, 204, 255;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

mdui-button {
    color: #fff;
}

#app {
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.header {
    background-color: #87CEEB;
    color: white;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header p {
    margin: 5px 0 0;
    font-size: 16px;
}

.content {
    padding: 20px;
}

.user-info,
.user-actions {
    margin-bottom: 20px;
}

.user-info h2,
.user-actions h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #87CEEB;
}

.user-info p {
    margin: 5px 0;
    font-size: 16px;
}

.user-actions mdui-button {
    display: inline-block;
    margin-right: 10px;
    /* padding: 10px 20px; */
    font-size: 16px;
    /* color: white; */
    /* background-color: #87CEEB; */
    /* border: none; */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    user-select: none;
}

/* .user-actions mdui-button:hover {
    background-color: #6BB7D6;
}

.user-actions mdui-button:active {
    background-color: #5AA6C4;
} */

.user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    border: 2px solid #87CEEB;
}

slot {
    display: none;
}