body {
    background-color: lightskyblue;
    color: white;
}

* {
    font-family: 'XiaoLaiMonoSC', sans-serif;
}

@media screen and (min-width: 400px) {
    body {
        margin-left: 50px;
        margin-right: 50px;
    }
}

button {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.current-label {
    background-color: white;
    color: black;
    border-radius: 5px 5px 0 0;
}

#main {
    margin-top: 20px;
}

#consoles {
    width: 100%;
}

.console {
    width: 100%;
    background-color: white;
    border-radius: 0 0 5px 5px;
    padding: 10px;
}

#labels {
    display: flex;
    list-style-type: none;
    padding: 0;
    width: 100%;
    overflow-x: auto;
}

#labels li {
    padding: 5px 10px;
    cursor: pointer;
}