:root {
    user-select: none;
    -webkit-user-select: none;
}

body {
    margin: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: lightskyblue;
    grid-template-rows: 1fr 50px;
}

#desktop {
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: lightskyblue;
}

#taskbar {
    width: 100vw;
    height: 70px;
    background-color: white;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#apps {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-gap: 5px;
}

.app {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    cursor: pointer;
    display: grid;
    grid-template-rows: 50px 20px;
    align-items: center;
    justify-items: center;
}

.app:hover {
    background-color: rgba(211, 211, 211, 0.5);
}