:root {
    user-select: none;
    -webkit-user-select: none;
}

body {
    margin: 0;
    cursor: url("/static/VOS/aero_arrow.svg");
}

#app {
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: lightskyblue;
    grid-template-rows: 1fr 50px;
}

#desktop {
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: lightskyblue;
}

#taskbar {
    width: 100vw;
    height: 50px;
    background-color: white;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#apps {
    display: ;
}