body {
    font-family: Arial, sans-serif;
    background-color: #caebff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.register-form h2 {
    color: #43b7ff;
    margin-bottom: 20px;
}

.register-form input[type="text"],
.register-form input[type="password"],
.register-form input[type="email"],
.register-form input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #caebff;
    /* 更浅的天蓝色边框 */
    border-radius: 4px;
}

.register-form button {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: #43b7ff;
    /* 天蓝色按钮 */
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: bold;
}

.register-form button:hover {
    background-color: #43b7ff;
}

.register-form .button-group {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.register-form .button-group button {
    width: auto;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #43b7ff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-form .button-group button:hover {
    background-color: #43b7ff;
}

input {
    outline: none;
}

input:focus {
    box-shadow: 0 0 5px #43b7ff;
}

#getCode {
    width: 180px;
    height: 36px;
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
}

#getCode:hover {
    background-color: #16a4fd;
}